<div class="min-h-screen flex flex-col gap-2">
  <div class="min-h-16 bg-blue-500 p-2 flex justify-center">
    <div class="container flex justify-between items-center">
      <div class="flex items-center">
        <h1 class="text-white text-lg font-bold">Evently</h1>
      </div>
      <div class="flex items-center">
        <a routerLink="/login" class="text-white hover:underline">Login</a>
        <a routerLink="/register" class="ml-4 text-white hover:underline"
          >Register</a
        >
      </div>
    </div>
  </div>
  <div class="container mx-auto">
    <app-carousel />
  </div>
  <div class="container mx-auto">
    <h2 class="text-2xl font-bold mb-4">
      Eventos
      <span class="text-gray-500 text-sm"> ({{ events.length }})</span>
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <div
        *ngFor="let event of events"
        class="bg-white border border-gray-300 shadow-md rounded-lg hover:shadow-lg transition-shadow duration-300"
      >
        <img
          src="https://placehold.co/200x100"
          alt="{{ event.title }}"
          class="w-full h-48 object-cover rounded-t-lg"
        />
        <div class="p-2">
          <h3 class="text-xl font-semibold">{{ event.title }}</h3>
          <p class="text-gray-600">{{ event.description }}</p>
          <p class="text-gray-500">
            Data: {{ event.startDate | date : "dd/MM/yyyy HH:MM" }}
          </p>
          <button
            (click)="register(event.id)"
            class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
          >
            Inscrever-se
          </button>
        </div>
      </div>
      <div
        *ngIf="events.length === 0"
        class="col-span-1 sm:col-span-2 lg:col-span-3 text-center"
      >
        <p class="text-gray-500">Nenhum evento disponível no momento.</p>
      </div>
    </div>
  </div>
</div>
